.footerContainer {
    padding: 2rem;
    background: #FFF430;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerText {
    color: #000;
    font-size: 1rem;
  }
  